.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.backButton {
  display: inline-block;
  margin-bottom: 20px;
  color: #00676c;
  text-decoration: none;
  font-weight: bold;
}
.backButton:hover{
  color: #164346;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.postDetails {
  text-align: center;
}

.postHeader {
  margin-bottom: 10px;
}

.profileContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 10px;
}

.authorPhoto {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.authorName {
  font-weight: bold;
  font-size: 16px;
}

.postImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.postTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.separator {
  border: 0;
  border-top: 1px solid #e6e6e6;
  margin: 10px 0;
}

.postContent {
  font-size: 16px;
  margin-bottom: 20px;
}

.viewAuthorButton {
  background-color: #00676c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.viewAuthorButton:hover {
  background-color: #102627;
}
.commentSection {
  margin-top: 20px;
}

.commentsList {
  margin-top: 10px;
}

.commentItem {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.commentAuthor {
  font-weight: bold;
}

.commentContent {
  margin-top: 5px;
}

.commentInput {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.addCommentButton {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}