.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 50px #ce84707c;
    width: 400px;
    text-align: center;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo h1 {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: #BA3F1D;
    font-weight: bold;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: #df9e9ede;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #BA3F1D;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #BA3F1D;
    border: 1px solid #BA3F1D;
  }
  
  .loginPrompt {
    margin-top: 20px;
    color: #555;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  